@font-face {
	font-family: 'Artifika';
	src: url('./components/my-component/Artifika-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

.hello {
	color: #f00;
	background: url('./components/my-component/packo-the-webpack-pack.png');
	font-family: 'Artifika';
}